<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entity.name %>
</p>

<p>
  <strong>Tfn:</strong>
  <%= @entity.tfn %>
</p>

<p>
  <strong>Abn:</strong>
  <%= @entity.abn %>
</p>

<p>
  <strong>Address:</strong>
  <%= @entity.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @entity.phone_number %>
</p>

<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>
