<h1>Listing income_summaries</h1>

<table>
  <thead>
    <tr>
      <th>Trust</th>
      <th>Individual</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @income_summaries.each do |income_summary| %>
      <tr>
        <td><%= income_summary.trust %></td>
        <td><%= income_summary.individual %></td>
        <td><%= income_summary.company %></td>
        <td><%= link_to 'Show', income_summary %></td>
        <td><%= link_to 'Edit', edit_income_summary_path(income_summary) %></td>
        <td><%= link_to 'Destroy', income_summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Income summary', new_income_summary_path %>
